<div class="l-container d-flex flex-column">
  <div class="l-board flex-grow-1 flex-column">
    <ng-container
      *ngFor="
        let row of sudoku.board.rows;
        let rowIndex = index;
        let lastRow = last
      "
    >
      <ng-container *ngFor="let column of row">
        <div
          class="l-cell d-flex justify-content-center align-items-center"
          [class.l-invalid-cell]="column.value === 0"
        >
          <div>{{ column.value }}</div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="m-3 d-flex justify-content-between">
    <button (click)="populateBoard()">populate</button>
    <button (click)="removeNumbers()">remove</button>
    <button>three</button>
  </div>
</div>
